html {
  background: #eeeeee;
}
body {
  font-family: "Lucida", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
}

p {
  margin-top: 0em;
  margin-bottom: 2em;
}
.content {
  margin: 0 auto 40px;
  background: white;
  padding: 30px;
  padding-top : 40px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}
.footer {
  text-align : center
}
.header {
  text-align : center
}

#bwtparent {
  padding-top : 10px;
  padding-bottom : 20px;
}

#bwt {
  height : 500px;
  width : 600px;
  background-color : #EEE;
}

#controls {
  text-align : center;
}

#status {
  width : "100%";
  height : 50px;
  font-size : 15px;
  text-align : center;
  margin : 10px;
}

#inputs label {
  width:50px;
  float:left;
  padding-top:7px;
}


